.round {
  float: left;
    width: 200px;
    height: 200px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: lightblue;
}

.react-tel-input{
  width: 50%;
}

.otp-box-style{
  width: 60% !important;
  height: 50px;

}
.border-none{
  border: 0px none;
  width: 60%;
}
.carousel-item-padding-40-px{
  background-color: red;
}
.bg-blue{
  background-color: lightblue;
}
.box{
  border :1px solid gray;
  width: 300px;
  overflow: hidden;
}
.title-box{
  background-color: gray;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.label-name {
  font-size: 20px;
  font-weight: 800;

}